<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyJokes Unofficial Website</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">The best PyJokes Website</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Fast, simple and funny jokes generated right here for you.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form action="/get_joke" method="post"><button type="submit" class="btn btn-success btn-lg px-4 gap-3">Generate</button></form>
      </div>
      {% if joke: %}
        <h3 style="margin-top: 10px;">{{ joke }}</h3>
      {% endif %}
    </div>
  </div>
</body>
</html>