{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Log In</h1>
          <span class="subheading">Welcome Back!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <!-- TODO: add a flash message here for users registering twice -->
      {% if error == 'invalid': %}
      <p><strong>Invalid username or password!</strong></p>
      {% endif %}
      <div>
        <!--TODO: render login form here-->
        <form action="/check_user" method="post">
          <label>Username:</label>
          <input type="text" name="username" required>
          <label>Email:</label>
          <input type="email" name="email" required>
          <label>Password:</label>
          <input type="password" name="password" required>
          <br>
          <br>
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} {% endblock %}
