{% extends 'header.html' %} {% block content %}
<div class="d-flex h-100 text-center" style="padding: 325px; background-color: #81BFDA;">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>The most effective To-Do list.</h1>
    <p class="lead">Welcome to To-Do List, the ultimate platform to organize your tasks and boost productivity! Whether you’re managing daily chores, planning long-term goals, or juggling school projects, To-Do List makes it easy to stay on top of everything.</p>
  </main>
</div>
</div>
<div class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form action="/create-account" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign up. It's easy and effective.</h1>
    {% if error=='already_exists': %}
    <p><strong>Email already exists. Please login.</strong></p>
    {% endif %}
    <div class="form-floating">
      <input required name='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input required name='password' type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button style="margin-top: 10px;" class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</main>
</div>
{% endblock %}